.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.pem
*.key
*.lock.info
.aider*
ansible/ansible.log
**/hosts.ini
*.retry
docker/nginx-proxy-manager/docker-compose.yml
.env
docker/**/.env
.vault_pass
~/.ansible_vault_pw
